*::after{
  content: "";
  clear: both;
  display: table;
}

div, form, input{
  box-sizing: border-box;
}

#logintext{
  font-family: Arial;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
}

#userid{
  margin-top:14px; 
  width: 100%;
}

#userpassword{
  margin-top: 6px;
  width: 100%;
}

#loginbutton{
  margin-top: 10px;
  margin-left: 25%;
  text-align: center;
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: green;
  color: white;
}

#forgotpassword{
  border-radius: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: green;
  color: white;
}

#forgotpassword:active,
#loginbutton:active {
  box-shadow: 0 0 15px #222;
}
